<select id="filtro-seccion"  class="chosen-select"  style="width: 300px;">
        <option value="0">Seleccione...</option>
    {% for sec in seccions %}
        <option value="{{ sec.id }}">{{ sec.almacen~"-"~ sec.nombre }}</option>
    {% endfor %}
</select>